.container {
    margin: 0 auto;
    padding: 2rem 2rem;
    font-family: Outfit, Roboto, monospace;
    background-color: black;
    min-height: 90vh;
  }
  
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    color: white;
  }